/*
0-600px: Phone
600-900px: tab portrait
900-1200px: tab landscape

1200-1800: normal

1800px+ : big desktop

order: Base + typography > general layout + grid > page layout > components
*/
@keyframes scale-up {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(300px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-80px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes glow {
  0% {
    text-shadow: none; }
  50% {
    text-shadow: #35fff1 1px 1px 10px; }
  100% {
    text-shadow: none; } }

:root {
  --color-primary: #306ccc;
  --color-primary-light: #87b5ff;
  --color-primary-dark: #3082ff;
  --color-click: #9fbff2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red; //got that*/ }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (max-width: 28.5em) {
    html {
      font-size: 20%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 37.5em) {
    body {
      background-size: 0; } }

.heading {
  color: var(--color-primary);
  animation: moveInRight .5s; }
  .heading__primary {
    font-size: 3.2rem;
    font-weight: 200; }
  .heading__secondary {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .heading__primary {
      font-size: 5rem; }
    .heading__secondary {
      font-size: 3rem; } }
  @media (max-width: 28.5em) {
    .heading__primary {
      font-size: 7.5rem; }
    .heading__secondary {
      font-size: 4.5rem; } }

.logo {
  width: 12%;
  padding: .5rem;
  animation: moveInTop .5s; }

.content {
  display: flex; }
  @media (max-width: 37.5em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  justify-content: space-between;
  flex: 0 0 18%; }
  .sidebar .menu {
    min-height: 50rem; }
    @media (max-width: 75em) {
      .sidebar .menu {
        min-height: 45rem; } }
    @media (max-width: 56.25em) {
      .sidebar .menu {
        min-height: 40rem; } }
    @media (max-width: 37.5em) {
      .sidebar .menu {
        min-height: 10rem; } }
    .sidebar .menu__items {
      display: flex;
      flex-direction: column;
      list-style-type: none; }
      .sidebar .menu__items-link:link, .sidebar .menu__items-link:visited {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 2rem;
        transition: color .2s,transform .1s; }
        @media (max-width: 75em) {
          .sidebar .menu__items-link:link, .sidebar .menu__items-link:visited {
            font-size: 1.6rem;
            padding: 1.2rem 1.6rem; } }
        @media (max-width: 56.25em) {
          .sidebar .menu__items-link:link, .sidebar .menu__items-link:visited {
            font-size: 2rem;
            padding: 1rem 1.2rem; } }
        @media (max-width: 37.5em) {
          .sidebar .menu__items-link:link, .sidebar .menu__items-link:visited {
            font-size: 3rem;
            padding: .8rem 1rem; } }
        @media (max-width: 28.5em) {
          .sidebar .menu__items-link:link, .sidebar .menu__items-link:visited {
            font-size: 4rem;
            padding: .8rem 1rem; } }
      .sidebar .menu__items-link:hover {
        color: var(--color-primary-light);
        transform: translateY(-2px);
        transform: scale(1.1); }
      .sidebar .menu__items-link:active, .sidebar .menu__items-link:focus {
        transform: translateY(0px);
        transform: scale(1);
        color: var(--color-click); }

.canvas {
  width: 100%;
  background-color: var(--color-grey-light-1); }
  .canvas__element:not(:first-child) {
    display: none; }
  .canvas__home-title {
    padding-top: 1rem;
    width: 55rem;
    position: relative;
    display: block;
    font-size: 2rem;
    margin: auto;
    text-transform: uppercase;
    color: var(--color-primary-dark);
    text-shadow: #9fbff2 1px 1px 10px; }
    @media (max-width: 37.5em) {
      .canvas__home-title {
        font-size: 2.5rem;
        width: 54rem;
        margin: auto; } }
    @media (max-width: 28.5em) {
      .canvas__home-title {
        font-size: 3rem;
        width: 45rem;
        margin: auto; } }
    .canvas__home-title-note {
      padding-top: .5rem;
      width: 55rem;
      position: relative;
      display: block;
      font-size: 1.2rem;
      margin: auto;
      padding-left: 9rem;
      text-transform: uppercase;
      color: var(--color-primary);
      text-shadow: #9fbff2 1px 1px 10px;
      animation: glow 1.5s infinite; }
      @media (max-width: 37.5em) {
        .canvas__home-title-note {
          font-size: 2rem;
          width: 45rem;
          padding-left: 0; } }
      @media (max-width: 28.5em) {
        .canvas__home-title-note {
          font-size: 2rem;
          width: 30rem; } }
  .canvas__home-header {
    padding: 1rem;
    border-bottom: 1px solid var(--color-grey-light-4); }
  .canvas__home-box {
    margin: 5rem 10rem 5rem 10rem;
    border: 1.5px solid var(--color-grey-light-4);
    border-radius: 5px;
    background-color: var(--color-grey-dark-3); }
    @media (max-width: 37.5em) {
      .canvas__home-box {
        height: 14rem;
        margin: 4rem 5rem 4rem 5rem; } }
  .canvas__home-instructions {
    padding: 2rem;
    font-size: 1.5rem;
    list-style: none; }
    .canvas__home-instructions .instruction__list {
      margin-bottom: .5rem; }
      .canvas__home-instructions .instruction__list::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .5rem;
        /*
                    background-image: url(../img/forward.svg);
                    background-size: cover; */
        background-color: var(--color-primary-dark);
        -webkit-mask-image: url(../img/forward.svg);
        -webkit-mask-size: cover; }
    @media (max-width: 37.5em) {
      .canvas__home-instructions {
        font-size: 2rem;
        padding: 1rem; } }
    @media (max-width: 28.5em) {
      .canvas__home-instructions {
        font-size: 2.5rem;
        padding: 1rem; } }
  .canvas__home-footer {
    position: absolute;
    top: 50rem;
    left: 50rem;
    font-size: 1.3rem; }
    @media (max-width: 75em) {
      .canvas__home-footer {
        top: 50rem;
        left: 40rem; } }
    @media (max-width: 56.25em) {
      .canvas__home-footer {
        top: 48rem;
        left: 30rem; } }
    @media (max-width: 37.5em) {
      .canvas__home-footer {
        top: 53rem;
        left: 22rem;
        font-size: 1.8rem; } }
    @media (max-width: 28.5em) {
      .canvas__home-footer {
        top: 50rem;
        left: 1rem;
        font-size: 2.5rem; } }
  .canvas__reReg-box {
    height: 30rem;
    width: 40%;
    border: 1.5px solid var(--color-grey-light-4);
    border-radius: 5px;
    padding: 3rem;
    margin: 10rem auto;
    backface-visibility: hidden;
    background-color: #ededed; }
    @media (max-width: 37.5em) {
      .canvas__reReg-box {
        width: 40%;
        height: 28rem;
        margin: 5rem auto;
        padding: 1.8rem; } }
    @media (max-width: 28.5em) {
      .canvas__reReg-box {
        width: 60%;
        height: 26rem;
        margin: 5rem auto;
        padding: 1.8rem; } }
    .canvas__reReg-box-header {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
      text-transform: uppercase; }
      @media (max-width: 28.5em) {
        .canvas__reReg-box-header {
          font-size: 3rem; } }
  .canvas__chkStat-box {
    height: 25rem;
    border: 1.5px solid var(--color-grey-light-4);
    border-radius: 5px;
    width: 40%;
    padding: 3rem;
    margin: 15rem auto;
    background-color: #ededed; }
    @media (max-width: 37.5em) {
      .canvas__chkStat-box {
        height: 20rem;
        margin: 5rem auto; } }
    @media (max-width: 28.5em) {
      .canvas__chkStat-box {
        padding: 2rem;
        height: 18rem;
        width: 60%;
        margin: 5rem auto; } }
    .canvas__chkStat-box-header {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
      text-transform: uppercase; }
      @media (max-width: 37.5em) {
        .canvas__chkStat-box-header {
          font-size: 2rem; } }
      @media (max-width: 28.5em) {
        .canvas__chkStat-box-header {
          font-size: 2.5rem; } }

.form__group {
  padding: .25rem 0; }

.form__input {
  border: none;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  width: 90%; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid var(--color-primary); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #e56b37; }
  .form__input::-webkit-input-placeholder {
    color: var(--color-grey-dark-3); }
  @media (max-width: 28.5em) {
    .form__input {
      padding: .5rem 1rem; } }

.form__label {
  font-size: 1.2rem;
  margin-top: .3rem;
  margin-left: 2rem;
  margin-bottom: .8rem;
  display: block;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px); }

.form__btn {
  width: 30%; }
  .form__btn, .form__btn:link, .form__btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: .5rem .5rem;
    border-radius: 3px; }
    @media (max-width: 75em) {
      .form__btn, .form__btn:link, .form__btn:visited {
        font-size: 1.5rem; } }
    @media (max-width: 56.25em) {
      .form__btn, .form__btn:link, .form__btn:visited {
        font-size: 1.2rem; } }
    @media (max-width: 37.5em) {
      .form__btn, .form__btn:link, .form__btn:visited {
        font-size: 1.8rem; } }
    @media (max-width: 28.5em) {
      .form__btn, .form__btn:link, .form__btn:visited {
        font-size: 2.4rem; } }
  .form__btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
  .form__btn:active, .form__btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 0.1px rgba(0, 0, 0, 0.2); }

.instruction__title {
  display: block;
  font-size: 1.8rem !important;
  padding: 1rem 0 0 1rem;
  text-transform: uppercase;
  color: var(--color-primary); }
  @media (max-width: 28.5em) {
    .instruction__title {
      font-size: 5rem;
      padding: .5rem 0 0 .5rem; } }

.footer {
  display: block;
  height: 3.7rem;
  background-color: var(--color-grey-light-4);
  border-top: 0.1rem solid var(--color-grey-dark-2); }
  .footer__text {
    position: relative;
    width: 30rem;
    display: block;
    font-size: 1.4rem;
    margin: 1rem auto; }

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-light-4); }

@media (max-width: 37.5em) {
  .logo {
    width: 10rem;
    height: 7rem;
    margin: 0; } }

@media (max-width: 37.5em) {
  .logo {
    width: 12rem;
    height: 8.5rem;
    margin: 0; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media (max-width: 37.5em) {
    .container {
      height: 100%;
      width: 100%;
      margin: auto; } }
  @media (max-width: 28.5em) {
    .container {
      height: 100%;
      width: 100%;
      margin: auto; } }
