@keyframes scale-up {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(300px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-80px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

:root {
  --color-primary: #306ccc;
  --color-primary-light: #87b5ff;
  --color-primary-dark: #3082ff;
  --color-click: #9fbff2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red; //got that*/ }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.heading {
  color: var(--color-primary);
  animation: moveInRight .5s; }
  .heading__primary {
    font-size: 3.2rem;
    font-weight: 200; }
  .heading__secondary {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase; }

.logo {
  width: 12%;
  padding: .5rem;
  animation: moveInTop .5s; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%; }
  .sidebar .menu {
    min-height: 50rem; }
    .sidebar .menu__items {
      display: flex;
      flex-direction: column;
      list-style-type: none; }
      .sidebar .menu__items-link:link, .sidebar .menu__items-link:visited {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 2rem;
        transition: color .2s, transform .1s; }
      .sidebar .menu__items-link:hover {
        color: var(--color-primary-light);
        transform: translateY(-2px);
        transform: scale(1.1); }
      .sidebar .menu__items-link:active, .sidebar .menu__items-link:focus {
        transform: translateY(0px);
        transform: scale(1);
        color: var(--color-click); }

.canvas__element:not(:first-child) {
  visibility: hidden; }

.footer {
  display: block;
  height: 3.7rem;
  background-color: var(--color-grey-light-4);
  border-top: 0.1rem solid var(--color-grey-dark-2); }
  .footer__text {
    position: relative;
    width: 30rem;
    display: block;
    font-size: 1.4rem;
    margin: 1rem auto; }

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-light-4); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
