.canvas{
    width: 100%;
    background-color: var(--color-grey-light-1);

    &__element:not(:first-child){
        display: none;
        //visibility: hidden;
    }
    
    &__home
    {    &-title{
            padding-top: 1rem;
            width: 55rem;
            position: relative;
            display: block;
            font-size:2rem;
            margin: auto;
            text-transform: uppercase;
            color: var(--color-primary-dark);
            text-shadow: #9fbff2 1px 1px 10px;

            @include respond(phone){
                font-size: 2.5rem;
                width: 54rem;
                margin: auto;
            }

            @include respond(Sphone){
                font-size: 3rem;
                width: 45rem;
                margin: auto;
            }

            &-note{
                padding-top: .5rem;
                width: 55rem;
                position: relative;
                display: block;
                font-size: 1.2rem;
                margin: auto;
                padding-left: 9rem;
                text-transform: uppercase;
                color: var(--color-primary);
                text-shadow: #9fbff2 1px 1px 10px;
                animation: glow 1.5s infinite;
                
                @include respond(phone){
                    font-size: 2rem;
                    width: 45rem;
                    padding-left: 0;
                }

                @include respond(Sphone){
                    font-size: 2rem;
                    width: 30rem;
                }

            }
        }
        &-header{
            padding: 1rem;
            border-bottom: 1px solid var(--color-grey-light-4);
        }

        &-box{
            margin: 5rem 10rem 5rem 10rem; 
            border: 1.5px solid var(--color-grey-light-4);
            border-radius: 5px;
            background-color: var(--color-grey-dark-3);

            @include respond(Sphone){
                height: 14rem;
                margin: 4rem 5rem 4rem 5rem; 
            }
            
        }

        &-instructions{
            padding: 2rem;
            font-size: 1.5rem;
            list-style: none;
            .instruction__list{
                margin-bottom: .5rem;

                &::before{
                    content: "";
                    display: inline-block;
                    height: 1rem;
                    width: 1rem;
                    margin-right: .5rem;
                    /*
                    background-image: url(../img/forward.svg);
                    background-size: cover; */
                    background-color: var(--color-primary-dark);
                    -webkit-mask-image: url(../img/forward.svg);
                    -webkit-mask-size: cover;
                }
            }

            @include respond(phone){
                font-size: 2rem;
                padding: 1rem;
            }

            @include respond(Sphone){
                font-size: 2.5rem;
                padding: 1rem;
            }
        }

        &-footer{
            position: absolute;
            top: 50rem;
            left: 50rem;
            font-size: 1.3rem;

            @include respond(tab-land){
                top: 50rem;
                left: 40rem;
            }
            @include respond(tab-port){
                top: 48rem;
                left: 30rem;
            }

            @include respond(phone){
                top: 53rem;
                left: 22rem;
                font-size: 1.8rem;
            }

            @include respond(Sphone){
                top: 50rem;
                left: 1rem;
                font-size: 2.5rem;
            }
        }
    }

    
    &__reReg{
        &-box{
            height: 30rem;
            width: 40%;
            border: 1.5px solid var(--color-grey-light-4);
            border-radius: 5px;
            padding: 3rem;
            margin: 10rem auto; 
            backface-visibility: hidden;
            background-color: #ededed;

            @include respond(phone){
                width: 40%;
                height: 28rem;
                margin: 5rem auto; 
                padding: 1.8rem;
            }

            @include respond(Sphone){
                width: 60%;
                height: 26rem;
                margin: 5rem auto; 
                padding: 1.8rem;
            }

            &-header{
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
                text-transform: uppercase;

                @include respond(Sphone){
                    font-size: 3rem;
                }
            }
        }

    }
    
    &__chkStat{
        &-box{
            height: 25rem;
            border: 1.5px solid var(--color-grey-light-4);
            border-radius: 5px;
            width: 40%;
            padding: 3rem;
            margin: 15rem auto;
            background-color: #ededed;
            @include respond(phone){
                height: 20rem;
                margin: 5rem auto;
            }

            @include respond(Sphone){
                padding: 2rem;
                height: 18rem;
                width: 60%;
                margin: 5rem auto;
            }

            &-header{
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
                text-transform: uppercase;

                @include respond(phone){
                    font-size: 2rem;
                }

                @include respond(Sphone){
                    font-size: 2.5rem;
                }
            }

        }
    }

}


//GENERAL STYLE FOR FORM 
.form__group{
    padding: .25rem 0;
}

.form__input{
    border: none;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    width: 90%;
    &:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba(#000, .2);
        border-bottom: 3px solid var(--color-primary);
    }

    &:focus:invalid{
        border-bottom: 3px solid #e56b37;
    }
    
    &::-webkit-input-placeholder{
        color: var(--color-grey-dark-3);
    }

    @include respond(Sphone){
        padding: .5rem 1rem;
    }
}

.form__label{
    font-size: 1.2rem;
    margin-top: .3rem;
    margin-left: 2rem;
    margin-bottom: .8rem;
    display: block;
    transition: all .2s;
}

.form__input:placeholder-shown + .form__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

.form__btn{
    width: 30%;
    
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        cursor: pointer;
        padding:  .5rem .5rem;
        border-radius: 3px;

        @include respond(tab-land){
            font-size: 1.5rem;
        }

        @include respond(tab-port){
            font-size: 1.2rem;
        }

        @include respond(phone){
            font-size: 1.8rem;
        }

        @include respond(Sphone){
            font-size: 2.4rem;
        }
    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0px .5rem .5rem rgba(#000,0.2);
    }

    &:active,
        &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .1rem .1px rgba(#000,0.2);
    }
}

.instruction__title{
    display: block;
    font-size: 1.8rem !important;
    padding: 1rem 0 0 1rem;
    text-transform: uppercase;
    color: var(--color-primary);

    @include respond(Sphone){
        font-size: 5rem;
        padding: .5rem 0 0 .5rem;
    }
}