.heading{
    color: var(--color-primary);
    &__primary{
        font-size: 3.2rem;
        font-weight: 200;
    }

    &__secondary{
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    animation: moveInRight .5s;

    @include respond(phone){
        &__primary{
            font-size: 5rem
        }

        &__secondary{
            font-size: 3rem;
        }
    }

    @include respond(Sphone){
        &__primary{
            font-size: 7.5rem
        }

        &__secondary{
            font-size: 4.5rem;
        }
    }
}