.content{
    display: flex;
}

.sidebar{
   background-color: var(--color-grey-dark-1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 0 0 18%;

   .menu{
    
    min-height: 50rem;

    &__items{
        display: flex;
        flex-direction: column;
        list-style-type: none;

        &-link:link,
        &-link:visited{
            color: #fff;
            font-size: 1.8rem;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 2rem;
            transition: color .2s,
                        transform .1s;
            
        }
        &-link:hover{
            color: var(--color-primary-light);
            transform: translateY(-2px);
            transform: scale(1.1);
        }
        &-link:active,
        &-link:focus{
            transform: translateY(0px);
            transform: scale(1);
            color: var(--color-click);
        }
    }
   }
}