.content{
    display: flex;
    //flex-direction: column;
    @include respond(phone){
        flex-direction: column;
    }
}

.sidebar{
   background-color: var(--color-grey-dark-1);
   display: flex;
   justify-content: space-between;
   flex: 0 0 18%;

   .menu{
    
    min-height: 50rem;
    
    @include respond(tab-land){
        min-height: 45rem;
    }

    @include respond(tab-port){
        min-height: 40rem;
    }

    @include respond(phone){
        min-height: 10rem;
    }

    &__items{
        display: flex;
        flex-direction: column;
        list-style-type: none;

        &-link:link,
        &-link:visited{
            color: #fff;
            font-size: 1.8rem;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 2rem;
            transition: color .2s,transform .1s;

            @include respond(tab-land){
                font-size: 1.6rem;
                padding: 1.2rem 1.6rem;
            }
            
            @include respond(tab-port){
                font-size: 2rem;
                padding: 1rem 1.2rem;
            }

            @include respond(phone){
                font-size: 3rem;
                padding: .8rem 1rem;
            }
            @include respond(Sphone){
                font-size: 4rem;
                padding: .8rem 1rem;
            }
            
        }
        &-link:hover{
            color: var(--color-primary-light);
            transform: translateY(-2px);
            transform: scale(1.1);
        }
        &-link:active,
        &-link:focus{
            transform: translateY(0px);
            transform: scale(1);
            color: var(--color-click);
        }
    }
   }
}