.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @include respond(phone){
        height: 100%;
        width: 100%;
        margin: auto;
    }

    @include respond(Sphone){
        height: 100%;
        width: 100%;
        margin: auto;
    }
}